.header-title {
	font-family: 'Roboto Condensed', sans-serif;
}

.mt-6 {
	margin-top: 4rem;
}

.news_image {
	height: 20rem;
}

.icon,
.icon-name {
	color: white;
}

.bg-grey {
	background-color: #ededed;
}
