.header-title {
	font-family: 'Roboto Condensed', sans-serif;
}

.mt-6 {
	margin-top: 4rem;
}

.news_image {
	height: 20rem;
	max-width: 100%;
}

.icon,
.icon-name {
	color: white;
}

.bg-grey {
	background-color: #ededed;
}

.badge-margin {
	margin-right: 0.7rem;
}

.avatar-size {
	width: 55px !important;
	height: 55px !important;
}

.news_headline {
	font-family: 'Roboto Condensed';
	font-size: 22px;
}

.news_content {
	font-family: 'Roboto Condensed';
	font-size: 16px;
}
